#barraMenus {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 0.2vw solid black;
    padding: 0.2rem 0.4rem;
}
#barraMenus #menu {
    margin: auto auto;
}

#barraMenus #menu a {
    display: inline-block;
    margin: auto 1rem;
}

#barraMenus #menu, #barraMenus #encabezadoPrincipal, #barraMenus #cajaBoxLogin {
    width: 100%;
    margin: auto 2rem;
    padding: 0.2rem;
}

#barraMenus #encabezadoPrincipal {
    border: 0.2vw solid orchid;
    text-align: center;
}

#barraMenus #cajaBoxLogin {
    text-align: center;
}
